/*
    RSSPhoto Slideshow Display CSS

    Copyright 2009 Spencer Kellis (email : spencerkellis *AT* gmail)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
 * CSS for general RSSPhoto elements
 */

.rssphoto_item_title
{
  font-weight:bold;
  top:0px;
  left:0px;
  width:100%;
  margin:auto;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:2px;
  padding-bottom:2px;
}

/*
 * CSS for RSSPhoto Slideshow 2
 */

.rssphoto_slideshow2
{
  position: relative;
  margin:auto;
}

.rssphoto_slideshow2 div.item
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  filter:alpha(opacity=0); 
  -moz-opacity:0.0; 
  -khtml-opacity:0.0;
  opacity:0.0;
}

.rssphoto_slideshow2 div.item div.title_overlay
{
  position:absolute;
  background-color:#333;
  font-weight:bold;
  top:1px;
  width:100%;
  margin:auto;
  margin-top:0px;
  padding-top:5px;
  padding-bottom:4px;
  display:none;
  filter:alpha(opacity=70); 
  -moz-opacity:0.7; 
  -khtml-opacity:0.7;
  opacity:0.7;
}

.rssphoto_slideshow2 div.item div.title_overlay a
{
  color:#ccc;
  text-decoration:none;
}

.rssphoto_slideshow2 div.item div.title_overlay a:hover
{
  color:#ccc;
  text-decoration:none;
}

.rssphoto_slideshow2 div.active 
{
  z-index: 102;
  filter:alpha(opacity=100); 
  -moz-opacity:1.0; 
  -khtml-opacity:1.0;
  opacity:1.0;
}

.rssphoto_slideshow2 div.last-active 
{
  z-index: 101;
}

.rssphoto_slideshow2 div a:hover
{
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.rssphoto_slideshow2 div img
{
  border:solid black 1px;
  text-decoration: none;
}

/*
 * CSS for RSSPhoto Slideshow
 */

.rssphoto_slideshow 
{
  position: relative;
  margin:auto;
}

.rssphoto_slideshow div.item
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  filter:alpha(opacity=0); 
  -moz-opacity:0.0; 
  -khtml-opacity:0.0;
  opacity:0.0;
}

.rssphoto_slideshow div.active 
{
  z-index: 102;
  filter:alpha(opacity=100); 
  -moz-opacity:1.0; 
  -khtml-opacity:1.0;
  opacity:1.0;
}

.rssphoto_slideshow div.last-active 
{
  z-index: 101;
}

.rssphoto_slideshow div a:hover
{
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.rssphoto_slideshow div img
{
  border: solid black 1px;
  text-decoration: none;
}

/*
 * CSS for RSSPhoto Static Display
 */

.rssphoto_static
{
  position: relative;
  margin:auto;
}

.rssphoto_static div
{
  filter:alpha(opacity=0); 
  -moz-opacity:0.0; 
  -khtml-opacity:0.0;
  opacity:0.0;
  text-align: center;
}

.rssphoto_static div a:hover
{
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.rssphoto_static div img
{
  border: solid black 1px;
  text-decoration: none;
}

.rssphoto_clear
{
  clear:both;
  line-height:0px;
  height:0;
  font-size:1px;
}

.rssphoto_clear:after
{
  content: " ";
}
